@inherits LayoutComponentBase
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-heading">
                <div class="panel-heading">
                    <h1>MicroCommerce</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <Products />
        </div>
        <div class="col-xs-12 col-md-6">
            <Orders />
        </div>
        <div class="col-12">
            <LogEvents />
        </div>
    </div>
</div>
